{% extends 'psybrowse_app/template.html' %}
{% load staticfiles %}

{% block title %}PsyBrowse: An online self-publishing framework for science articles, materials, and data{% endblock %}

{% block sidebar %}{% endblock %}

{% block content %}
    <section class="str-content indx-content">
        {% if user.is_authenticated %}<h2>News feed</h2>{% else %}<h2>Latest Articles:</h2>
        <p>Want personalized results? <a href="{% url 'register' %}">Register today!</a></p>{% endif %}
        <div class="indx-feed">
            {% for sub_type, sub_item_url, sub_display, article in articles %}
                <div class="indx-result clearfix">
                    <div class="indx-resultInfo">
                        <img src="{% static 'psybrowse_app/img/edit_copy.png' %}" alt="Article" title="Article" class="indx-resultTypeImg" />
                        <h2 class="indx-resultTitle"><a href="{% url 'article detail' article.id %}">{{ article.title|escape }}</a></h2>
                        <span class="indx-resultYear">({{ article.pub_date }})</span>
                        <span class="indx-resultAuthors">
                            {% for author in article.authors %}<a href="{{ author.url }}">{{ author.name|escape }}</a>{{ author.separator|escape }}{% endfor %}
                        </span>
                    </div>
                    <div class="indx-resultMeta">
                        <span>({% if sub_type == None %}{{ sub_display }}{% else %}{{ sub_type }} sub.{% endif %})</span>
                        <!--<span class="star"><img src="img/star.png" title="This article has been peer reviewed" /></span>
                        <span class="methodology" title="Soundness of Methodology" style="background: #0b0">4.5</span>
                        <span class="contribution" title="Contribution to Literature" style="background: #dfd300">3.2</span>
                        <div class="additional">
                            <ul>
                                <li><a href="#"><img src="img/arrow_right.png" class="arrow" />Abstract</a></li>
                                <li><a href="#"><img src="img/arrow_right.png" class="arrow" />Connections</a></li>
                            </ul>
                        </div>-->
                    </div>
                </div>
            {% empty %}
                <div>No articles are available.</div>
            {% endfor %}
        </div>
        <div class="indx-pagination">
            {% if articles %}
            {% if paginator.has_next %}<a href="?page={{ paginator.next_page_num }}" data-page="{{ paginator.next_page_num }}" class="indx-loadMore">Load more...</a>{% endif %}
            {% endif %}
        </div>
    </section>
{% endblock %}