{% extends 'psybrowse_app/template.html' %}
{% load staticfiles %}
{% load psybrowse_app_extras %}

{% block title %}PsyBrowse: An online self-publishing framework for science articles, materials, and data{% endblock %}

{% block sidebar %}
{% if num_results %}<p class="srch-numResults">{{ num_results }} result{{ num_results|pluralize }}</p>{% endif %}
<p class="srch-sortHead">Sort by:</p>
<select class="srch-sort">
    <option value="-pub_date"{% if sort == '-pub_date' %}selected="selected"{% endif %}>Year: Most recent first</option>
    <option value="pub_date"{% if sort == 'pub_date' %}selected="selected"{% endif %}>Year: Oldest first</option>
    <option value="relevance"{% if sort == 'relevance' %}selected="selected"{% endif %}>Relevance</option>
</select>
<p class="srch-filterHead">Filter by:</p>
<ul class="srch-filter">
    <li>
        <div class="srch-filterTitle">Year</div>
        <ul class="srch-subFilter">
            <li><label for="filterYearFrom">Start from:</label> <input type="text" id="filterYearFrom" class="srch-filterYearText" /><a href="#" class="srch-subFilterLink" data-filter="dateFrom:"><span class="srch-filterPlus">+</span></a></li>
            <li><label for="filterYearTo">End at:</label> <input type="text" id="filterYearTo" class="srch-filterYearText" /><a href="#" class="srch-subFilterLink" data-filter="dateTo:"><span class="srch-filterPlus">+</span></a></li>
            {% for d in summary.dates_order %}
            <li><a href="#" class="srch-subFilterLink" data-filter="date:{{ d }}">{{ d }} ({{ summary.dates|get_item:d }})<span class="srch-filterPlus">+</span></a></li>
            {% endfor %}
        </ul>
    </li>
    <li>
        <div class="srch-filterTitle">Result Type</div>
        <ul class="srch-subFilter">
            {% for t in summary.types_order %}
            <li><a href="#" class="srch-subFilterLink" data-filter="type:{{ t }}">{{ t }} ({{ summary.types|get_item:t }})<span class="srch-filterPlus">+</span></a></li>
            {% endfor %}
        </ul>
    </li>
    <li>
        <div class="srch-filterTitle">Author</div>
        <ul class="srch-subFilter">
            {% for a in summary.authors_order %}
            <li><a href="#" class="srch-subFilterLink" data-filter="author:{{ a }}">{{ a }} ({{ summary.authors|get_item:a }})<span class="srch-filterPlus">+</span></a></li>
            {% endfor %}
        </ul>
    </li>
    <!--<li>
        <div class="srch-filterTitle">Tags</div>
        <ul class="srch-subFilter">
            <li><a href="#" class="srch-subFilterLink">smoking (56)<span class="srch-filterPlus">+</span></a></li>
            <li><a href="#" class="srch-subFilterLink">social psychology (37)<span class="srch-filterPlus">+</span></a></li>
            <li><a href="#" class="srch-subFilterLink">meta-analysis (4)<span class="srch-filterPlus">+</span></a></li>
        </ul>
    </li>
    <li>
        <div class="srch-filterTitle">Rating</div>
        <ul class="srch-subFilter">
            <li><a href="#" class="srch-subFilterLink">Above 4 (38)<span class="srch-filterPlus">+</span></a></li>
            <li><a href="#" class="srch-subFilterLink">Above 3 (+12)<span class="srch-filterPlus">+</span></a></li>
            <li><a href="#" class="srch-subFilterLink">Above 2 (+99)<span class="srch-filterPlus">+</span></a></li>
            <li><a href="#" class="srch-subFilterLink">Rated (+28)<span class="srch-filterPlus">+</span></a></li>
            <li><a href="#" class="srch-subFilterLink">Unrated (199)<span class="srch-filterPlus">+</span></a></li>
            <li><a href="#" class="srch-subFilterLink">Peer Reviewed (98)<span class="srch-filterPlus">+</span></a></li>
            <li><a href="#" class="srch-subFilterLink">Not Peer Reviewed (215)<span class="srch-filterPlus">+</span></a></li>
        </ul>
    </li>-->
</ul>
{% endblock %}

{% block content %}
    <section class="str-content srch-content">
        <div class="srch-actions">
            {% if is_subscribed %}
                <a class="button subbtn-unsubscribe" href="{% url 'unsubscribe' %}?type=search_string&value={{ search_term_url }}" data-type="search_string" data-value="{{ search_term_url }}">Unsubscribe</a>
            {% else %}
                <a class="button subbtn-subscribe" href="{% url 'subscribe' %}?type=search_string&value={{ search_term_url }}" data-type="search_string" data-value="{{ search_term_url }}">Subscribe</a>
            {% endif %}
        </div>
        <h2>Search:</h2>
        {% if search_term %}Search term: {{ search_term }}<br /><br />{% endif %}
        <div class="srch-results">
            {% if error %}<span class="error"><strong>Error:</strong> {{ error }}</span>{% endif %}
            {% for article in results %}
                <div class="srch-result clearfix">
                    <div class="srch-resultInfo">
                        <img src="{% static 'psybrowse_app/img/edit_copy.png' %}" alt="Article" title="Article" class="srch-resultTypeImg" />
                        <h2 class="srch-resultTitle"><a href="{% url 'article detail' article.id %}">{{ article.title|escape }}</a></h2>
                        <span class="srch-resultYear">({{ article.pub_date }})</span>
                        <span class="srch-resultAuthors">
                            {% for author in article.authors %}<a href="{{ author.url }}">{{ author.name|escape }}</a>{{ author.separator|escape }}{% endfor %}
                        </span>
                    </div>
                    <div class="srch-resultMeta">
                        {% if article.source == 'PubMed' %}
                            <img src="{% static 'psybrowse_app/img/icon_open_access.png' %}" alt="Open Access" title="Open Access" class="srch-openAccess" />
                            <img src="{% static 'psybrowse_app/img/icon_open_data.png' %}" alt="Open Data" title="Open Data" class="srch-openData" />
                            <img src="{% static 'psybrowse_app/img/icon_open_materials.png' %}" alt="Open Materials" title="Open Materials" class="srch-openMaterials" />
                            <img src="{% static 'psybrowse_app/img/icon_preregistered.png' %}" alt="Preregistered" title="Preregistered" class="srch-preregistered" />
                        {% endif %}
                    </div>
                </div>
            {% empty %}
                <p>Sorry, your search returned no results.</p>
            {% endfor %}
        </div>
        <div class="srch-pagination">
            {% if results %}
            {% if paginator.has_previous %}<a href="?s={{ search_term_url }}&page={{ paginator.prev_page_num }}">&lt; previous</a>{% endif %}
            <span class="srch-pageCurrent">Page {{ paginator.page_num }} of {{ paginator.num_pages }}</span>
            {% if paginator.has_next %}<a href="?s={{ search_term_url }}&page={{ paginator.next_page_num }}">next &gt;</a>{% endif %}
            {% endif %}
        </div>
    </section>
{% endblock %}

{% block scripts %}
<script src="{% static 'psybrowse_app/js/libs/handlebars-v2.0.0.min.js' %}"></script>

<script id="srch_result_template" type="text/x-handlebars-template">{% verbatim %}
    <div class="srch-result clearfix">
        <div class="srch-resultInfo">
            <img src="{% endverbatim %}{% static 'psybrowse_app/img/edit_copy.png' %}{% verbatim %}" alt="Article" title="Article" class="srch-resultTypeImg" />
            <h2 class="srch-resultTitle"><a href="{{url}}">{{title}}</a></h2>
            <span class="srch-resultYear">({{pub_date}})</span>
            <span class="srch-resultAuthors">
                {{#each authors}}<a href="{{this.url}}">{{this.name}}</a>{{this.separator}}{{/each}}
            </span>
        </div>
        <!--<div class="srch-meta">
            <span class="srch-star"><img src="{% endverbatim %}{% static 'psybrowse_app/img/star.png' %}{% verbatim %}" title="This article has been peer reviewed" /></span>
            <span class="srch-methodology" title="Soundness of Methodology" style="background: #0b0">4.5</span>
            <span class="srch-contribution" title="Contribution to Literature" style="background: #dfd300">3.2</span>
            <div class="srch-additional">
                <ul>
                    <li><a href="#"><img src="{% endverbatim %}{% static 'psybrowse_app/img/arrow_right.png' %}{% verbatim %}" class="srch-arrow" />Abstract</a></li>
                    <li><a href="#"><img src="{% endverbatim %}{% static 'psybrowse_app/img/arrow_right.png' %}{% verbatim %}" class="srch-arrow" />Connections</a></li>
                </ul>
            </div>
        </div>-->
    </div>
{% endverbatim %}</script>

<script id="srch_pagination_template" type="text/x-handlebars-template">{% verbatim %}
{{#if paginator.has_previous}}<a href="?s={{search_term_url}}&page={{paginator.prev_page_num}}">&lt; previous</a>{{/if}}
<span class="srch-pageCurrent">Page {{paginator.page_num}} of {{paginator.num_pages}}</span>
{{#if paginator.has_next}}<a href="?s={{search_term_url}}&page={{paginator.next_page_num}}">next &gt;</a>{{/if}}
{% endverbatim %}</script>
{% endblock %}